body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('indian.jpeg');


}

.container{
    background-color: lightsalmon;
    padding: 50px;
    border-radius: 10px;
    color: white;
}

h1{
    font-size: xxx-large;
    text-align: center;
}

.menuObject{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 50px;
}

.menuItem{
    font-weight: bolder;
    font-size: large;

}

.price{
    color: brown;
}