body{
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    max-width: 50vw;
    max-height: 70vh;
    background-color: darkgray;
    padding: 10px;
    border-radius: 10px;
}

.topContainer{
background-color: lightgray;
padding: 10px;  
}

.input{
    height: 2em;
}

.bottomContainer{
 background-color: lightgrey;
}

.topButtons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 50px);
    gap: 5px;
}

.bottomButtons{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 5px;
}

.button{
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.equalButton{
    grid-column: span 2;
    background-color: coral;

}
