body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: lightgray;
    border-radius: 10px;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter{
    font-size: xx-large;
    font-weight: bolder;
}

.number{
    font-size: xxx-large;
    font-weight: bolder;
    color: green
}

.buttonContainer{
    margin-top: 20px;
}

.button{
    background-color:white;
    border-radius: 5px;
    width: 6em;
    height: 2em;
}
