body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;

}

.hide{
    display: none;
}

.container{
    background-color: lightgray;
    padding: 100px;
    border-radius: 10px;
}

h1{
    text-align: center;
}

.question{
    color: blue;
    font-weight: bold;
}

.optionsContainer{
    background-color: greenyellow;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 10px;
}

.answersContainer{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}

.button{
    padding: 20px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 800ms;
    cursor: pointer;
}


.correct{
    background-color: green;
}

.false{
    background-color: red;
}

.nextContainer{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.nextButtons{
    padding: 15px;
    background-color: yellow;
    border-radius: 5px;
}

